ClientWSCalculator/src/META-INF/wsdl/localhost_8080/WSCalculator/WSCalculator.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://calc.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://calc.org/">

<xs:element name="div" type="tns:div"/>

<xs:element name="divResponse" type="tns:divResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="mult" type="tns:mult"/>

<xs:element name="multResponse" type="tns:multResponse"/>

<xs:element name="resta" type="tns:resta"/>

<xs:element name="restaResponse" type="tns:restaResponse"/>

<xs:element name="suma" type="tns:suma"/>

<xs:element name="sumaResponse" type="tns:sumaResponse"/>

<xs:complexType name="suma">
<xs:sequence>
<xs:element name="num1" type="xs:float"/>
<xs:element name="num2" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sumaResponse">
<xs:sequence>
<xs:element name="return" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="div">
<xs:sequence>
<xs:element name="num1" type="xs:float"/>
<xs:element name="num2" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="divResponse">
<xs:sequence>
<xs:element name="return" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mult">
<xs:sequence>
<xs:element name="num1" type="xs:float"/>
<xs:element name="num2" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="multResponse">
<xs:sequence>
<xs:element name="return" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="resta">
<xs:sequence>
<xs:element name="num1" type="xs:float"/>
<xs:element name="num2" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="restaResponse">
<xs:sequence>
<xs:element name="return" type="xs:float"/>
</xs:sequence>
</xs:complexType>
</xs:schema>