ClientWSCalculator/src/META-INF/wsdl/localhost_8080/WSCalculator/WSCalculator.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://calc.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://calc.org/" name="WSCalculator">
<types>
<xsd:schema>
<xsd:import namespace="http://calc.org/" schemaLocation="http://localhost:8080/WSCalculator/WSCalculator?xsd=1"/>
</xsd:schema>
</types>
<message name="mult">
<part name="parameters" element="tns:mult"/>
</message>
<message name="multResponse">
<part name="parameters" element="tns:multResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="suma">
<part name="parameters" element="tns:suma"/>
</message>
<message name="sumaResponse">
<part name="parameters" element="tns:sumaResponse"/>
</message>
<message name="div">
<part name="parameters" element="tns:div"/>
</message>
<message name="divResponse">
<part name="parameters" element="tns:divResponse"/>
</message>
<message name="resta">
<part name="parameters" element="tns:resta"/>
</message>
<message name="restaResponse">
<part name="parameters" element="tns:restaResponse"/>
</message>
<portType name="WSCalculator">
<operation name="mult">
<input wsam:Action="http://calc.org/WSCalculator/multRequest" message="tns:mult"/>
<output wsam:Action="http://calc.org/WSCalculator/multResponse" message="tns:multResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://calc.org/WSCalculator/helloRequest" message="tns:hello"/>
<output wsam:Action="http://calc.org/WSCalculator/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="suma">
<input wsam:Action="http://calc.org/WSCalculator/sumaRequest" message="tns:suma"/>
<output wsam:Action="http://calc.org/WSCalculator/sumaResponse" message="tns:sumaResponse"/>
</operation>
<operation name="div">
<input wsam:Action="http://calc.org/WSCalculator/divRequest" message="tns:div"/>
<output wsam:Action="http://calc.org/WSCalculator/divResponse" message="tns:divResponse"/>
</operation>
<operation name="resta">
<input wsam:Action="http://calc.org/WSCalculator/restaRequest" message="tns:resta"/>
<output wsam:Action="http://calc.org/WSCalculator/restaResponse" message="tns:restaResponse"/>
</operation>
</portType>
<binding name="WSCalculatorPortBinding" type="tns:WSCalculator">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="mult">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="suma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="div">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="resta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSCalculator">
<port name="WSCalculatorPort" binding="tns:WSCalculatorPortBinding">
<soap:address location="http://localhost:8080/WSCalculator/WSCalculator"/>
</port>
</service>
</definitions>